/*body*/
html {
    background-color: #DF486C;
}

h1 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24pt;
    text-align: center;
    color: white;
    margin-top: 180px;
    font-family: 'Carter One', cursive;
    background-color: black;
    border-radius: 15px;
}