/*html*/
h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: gray;
    font-size: 4em;
    margin-top: 250px;
    text-decoration: underline;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


