/*html*/
html {
    background-image: url("rainbow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*headings*/
h1 {
    font-size: 4em;
    text-align: center;
}

/*lists*/
.red {
    color: #E62723;
}

.yellow {
    color: #EBF016;
    
}

.blue {
    color: blue;
}

.orange {
    color: #F07A3A;
}

.green {
    color: #19A614;
}

.purple {
    color: #8914A6;
}

/*images*/
#babyBop {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 8px solid purple;
}