/*html*/
* {
    box-sizing: border-box
}

/*header*/
.header {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.grocerySign {
    width: auto;
    max-width: 250px;
    border-radius: 40px;
    float: left;
    padding: 20px;
}
  
h1 {
    font-family: 'Carter One', cursive;   
    color: #173669;
}

.searchBar {
    border-radius: 9px;
    width: 300px;
    font-size: 14pt;
    font-family: 'Carter One', cursive;
}

.search {
    font-family: 'Carter One', cursive;
    color:white;
    background-color: #084999;
    font-size: 12pt;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.search:hover {
    color: lightgray;
    cursor: pointer;
}

/*grocery list & pantry items*/
h2 {
    margin-left: 60px;
    padding: 10px;
    font-family: 'Carter One', cursive;
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

.pantry {
    margin-top: 20px;
}

section {
    color: #174C69;
    font-family: 'Lobster', cursive;
    font-size: 16pt;
}

.column {
    float: left;
    width: 400px;
    margin: 10px 20px 10px 20px;
    padding: 5px 10px 5px 10px;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h3, h4 {
    border-radius: 20px;
    padding: 10px;
}

.corn {
    width: 400px;
    height: auto;
    padding: 20px;
}

/*sections for freezer items*/
.column2 {
    float: left;
    width: 400px;
    margin: 10px 20px 10px 20px;
    padding: 5px 10px 5px 10px;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
    }
    
.row2:after {
    content: "";
    display: table;
     clear: both;
}

.fries {
    width: 400px;
    border: 20px;
    padding: 20px;
}